/* Micro reset so global styles don't interfere */

[data-dash-price-widget],
[data-dash-price-widget] *,
[data-dash-price-widget] *:before,
[data-dash-price-widget] *:after {
    box-sizing: inherit;
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    line-height: 1;
}

[data-dash-price-widget] {
    display: inline-block;
    max-width: 18em;
    margin: 0.5em auto;
    border-radius: 0.5em;
    background-color: #1D76BC;
    box-sizing: border-box;
    color: white;
    padding: 0.5em;
    font-family: serif;
}

[data-dash-price-widget] .dash-ticker--title {
    font-size: 3em;
    float: left;
    height: 1em;
    width: 1em;
    overflow: hidden;
    text-indent: -999px;
    background-image: url(../media/dash.svg);
    background-size: 100% 100%;
}

[data-dash-price-widget]  .dash-ticker--wrapper {
    margin-left: 3.5em;
}

[data-dash-price-widget] .dash-ticker--fiat {
    font-size: 2em;
    text-align: right;
}

[data-dash-price-widget] .dash-ticker--btc {
    float: left;
}

[data-dash-price-widget] .dash-ticker--change {
    float: right;
}
